<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Periods Left</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script>
      function redirect() {window.location = "https://youtu.be/xvFZjo5PgG0";}
    </script>
  </head>
  <body>
    <nav class="nav nav-pills nav-fill ">
      <a class="nav-link active" href="/">Setup</a>
      <a class="nav-link" href="/timetable">Periods Left</a>
      <a class="nav-link" href="/countdown">Countdown</a>
  </nav>
    <p>Uh oh! I had to make a seperate page for this from the failure.html page!</p>
    <p>All because I knew that someone would mistype their filename, and write a complaint because they wouldn't know what to do!</p>
    <p>It's actually really simple...</p>
    <p>You just click the back button in your browser and fix your spleling mistkaes. (Haha, I just made one.)</p>
    <h5>This is me at 10:00 at night!</h5>
    <p>If clicking back is too hard for you, then luckily for you, it was simple enough for me to put the SAME FORM here too!</p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">https://mario872.pythonanywhere.com/timetable/</span>
      </div>
      <input id="redirect_filename" class="form-control">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" onclick=redirect()>Sign the agreement...</button>
      </div>
    </div>
    <p>And be navigated right to your timetable there with my magical website</p>
    <img src="https://media1.giphy.com/media/3orif7aLUehOfdmlXy/200w.gif?cid=6c09b952b5rxpl159q31elfyg8ufofdsv9u8mblzh1x1isav&ep=v1_gifs_search&rid=200w.gif&ct=g">
    <p>Why don't you give it a go?  (A disclaimer: It's definetly not a rickroll 😉)</p>
    
  </body>   
</html>